@model TDProjectMVC.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Register";
}
<head>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<div class="billing-details" style="display: grid;
    place-items: center;">
    <div class="section-title">
        <h3 class="title">Register</h3>
    </div>
    <form asp-action="DangKy" enctype="multipart/form-data">
        <div class="form-group">
            <input class="input" asp-for="@Model.MaKh" placeholder="User Name">
            <span asp-validation-for="@Model.MaKh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="input" asp-for="@Model.MatKhau" placeholder="PassWord">
            <span asp-validation-for="@Model.MatKhau" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="input" asp-for="@Model.HoTen" placeholder="Full name">
            <span asp-validation-for="@Model.HoTen" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="input" asp-for="@Model.Email" placeholder="Email">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="input" asp-for="@Model.DiaChi" placeholder="Address">
            <span asp-validation-for="@Model.DiaChi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="input-checkbox">
                <input type="checkbox" id="GioiTinh" name="GioiTinh" class="form-check-input" />
                <label for="GioiTinh">
                    <span></span>
                    Nam
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label my-3" asp-for="@Model.NgaySinh"></label>
            <input asp-for="@Model.NgaySinh" class="form-control" />
            <span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="input" asp-for="@Model.DienThoai" placeholder="Số Điện Thoại">
            <span asp-validation-for="@Model.DienThoai" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label my-3" for="Hinh">Hình<sup>*</sup></label>
            <input type="file" name="Hinh" class="form-control" />
        </div>
        <button type="submit" class="primary-btn order-submit" style="margin-top: 20px; margin-left: 110px;">
            Đăng ký
        </button>
    </form>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/main.js"></script>

