@model IEnumerable<TDProjectMVC.ViewModels.HangHoaVM>
@* &nbsp *@
@foreach (var item in Model)
{
	<div class="product-widget">
		<a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">
			<div class="product-img">
				<img src="~/Hinh/Hinh/HangHoa/@item.Hinh" alt="@item.TenHH">
			</div>
			<div class="product-body">
				<p class="product-category">@item.TenLoai</p>
				<h3 class="product-name"><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.MaHH">@item.TenHH</a></h3>
				<h4 class="product-price">$@item.DonGia&nbsp<del class="product-old-price">$@(item.DonGia * (100 + item.GiamGia) / 100)</del></h4>
			</div>
		</a>
	</div>
}